:root {
    --active-brightness: 0.85;
    --border-radius: 5px;
    --box-shadow: 2px 2px 10px;
    --color-accent: #118bee15;
    --color-bg: #fff;
    --color-bg-secondary: #e9e9e9;
    --color-link: #118bee;
    --color-secondary: #920de9;
    --color-secondary-accent: #920de90b;
    --color-shadow: #f4f4f4;
    --color-table: #118bee;
    --color-text: #000;
    --color-text-secondary: #999;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --hover-brightness: 1.2;
    --justify-important: center;
    --justify-normal: left;
    --line-height: 1.5;
    --width-card: 285px;
    --width-card-medium: 460px;
    --width-card-wide: 800px;
    --width-content: 1080px;
}

.banner {
    background: url('/images/mural-fest-2024-banner.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.banner header {
    position: relative;
    min-height: 86vh;
    z-index: 2;
    max-width: none;
    padding: 0;
}

.nav-container {
    background: white;
}

.banner nav {
    margin: 0 auto 10rem auto;
    max-width: var(--width-content);
}

.banner:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .6);
    z-index: 1;
}

.home-button img {
    margin: 0;
}

.map-container {
    height: 300px;
}

@media screen and (min-width: 769px) {
    .split-section {
        display: flex;
        flex-wrap: nowrap;
    }

    .split-section figure {
        flex: 0 0 33.33%;
    }

    .split-section article {
        flex: 0 1 66.66%;
        text-align: left;
        margin-left: 2rem;
    }

    .split-section .map-container {
        flex: 0 0 50%;
        height: 300px;
    }
}