@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --active-brightness: 0.85;
    --border-radius: 5px;
    --box-shadow: 2px 2px 10px;
    --color-accent: #0090ff;
    --color-bg: #fff;
    --color-bg-secondary: #e9e9e9;
    --color-bg-cards: #fff;
    --color-bg-img: #fff;
    --color-link: #118bee;
    --color-secondary: #f98757;
    --color-secondary-accent: #faa301;
    --color-shadow: #f4f4f4;
    --color-table: #118bee;
    --color-text: #000;
    --color-text-secondary: #999;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --hover-brightness: 1.2;
    --justify-important: center;
    --justify-normal: left;
    --line-height: 1.5;
    --width-card: 285px;
    --width-card-medium: 460px;
    --width-card-wide: 800px;
    --width-content: 1080px;

    --color-other: #727272;
    --color-sensi: #009393;
    --color-adapt: #faa301;
    --color-eco: #0090ff;
    --color-sect: #f98757;
    --color-imagi: #00d0ff;
    --color-online: #00be75;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-accent: #0090ff;
        --color-bg: #2a2c3a;
        --color-bg-secondary: #1f2533;
        --color-bg-cards: #32343f;
        --color-bg-img: #fff;
        --color-link: #118bee;
        --color-secondary: #f98757;
        --color-secondary-accent: #faa301;
        --color-shadow: #1e1e1e;
        --color-table: #118bee;
        --color-text: #d3d3d3;
        --color-text-secondary: #999;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-weight: 600;
    font-size: 2rem;
}

section {
    margin-top: 2em;
}

section header {
    padding-bottom: 0 !important;
}

section aside {
    background: var(--color-bg-cards);
}

section aside:hover {
    box-shadow: var(--box-shadow) var(--color-shadow);
}

section aside figure img {
    margin: auto;
}


.link-icon {
    display: flex;
    align-items: center;
}

.link-icon img {
    margin-right: .5rem;
}

.banner {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.4)
    ), url('images/mural-fest-2024-banner.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    color: var(--color-text);
}

p {
    text-align: justify;
}

aside p {
    text-align: left;
}

.banner h1 {
    color: #ececec;
    font-weight: 900;
    font-size: 5rem;
    text-shadow: 0 1px 0 black;
}

.banner h2 {
    color: #ececec;
    font-weight: 600;
    text-shadow: 0 1px 0 black;
}

.banner header {
    position: relative;
    min-height: 86vh;
    z-index: 2;
    max-width: none;
    padding: 0 0 2rem 0;
    box-shadow: 10px 0 10px black
}

.nav-container {
    background: var(--color-bg);
}

.banner nav {
    margin: 0 auto 6rem auto;
    max-width: var(--width-content);
}


.home-button img {
    margin: 0;
}

.presentation {
    background: url('/images/art-2.svg') no-repeat -50px -50px;
    background-size: 700px 700px;
    overflow: visible;
    padding: 100px 0 100px 200px;
    margin: -100px 0 0 -200px;
}

.presentation + hr {
    background: transparent;
}

main {
    position: relative;
    z-index: 2;
}

.art-separator {
    position: relative;
    background: url('/images/art-pattern.svg') repeat;
    background-size: contain;
    height: 400px;
    opacity: .6;
    margin: -350px 0 0 0;
    z-index: 1;
}

.map-container {
    height: 300px;
}

.activities aside {
    display: flex;
    flex-direction: column;
}

.activities figure {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    background: var(--color-bg-img);
    border-radius: var(--border-radius);
    overflow: hidden;
    max-height: 250px;
    min-height: 150px;
}

.activities figure.bg-dark {
    background: #333;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}

.tabs input {
    position: absolute;
    opacity: 0;
}

.tabs label {
    width: 33.33%;
    border-bottom: 5px solid var(--color-bg-secondary);
    margin-top: 5px solid var(--color-bg);
    padding: .5rem 0 .5rem 0;
    text-align: center;
    cursor: pointer;
    background: var(--color-bg);
    position: sticky !important;
    top: 0 !important;
    z-index: 2;
}

.tabs input:checked + label {
    font-weight: 600;
    border-bottom-color: transparent;
}

.tabs input:checked + label:after {
    content: '';
    border-radius: var(--border-radius);
    font-weight: 600;
    position: absolute;
    width: 100%;
    bottom: -5px;
    left: 0;
    height: 5px;
    background: var(--color-accent);
}

.tabs .day {
    display: block;
    font-size: 1.318rem;
}

.tabs .date {
    font-size: 2rem;
    display: none;
}

.tabs .tab-content {
    display: none;
    width: 100%;
    order: 99;
}

.tab-content dt {
    font-family: "Urbanist", sans-serif;
    font-weight: 900;
    margin-top: 3rem;
    margin-bottom: 1rem;
    background: var(--color-bg-secondary);
    padding: .25rem;
    position: sticky;
    top: 52px;
    z-index: 2;
    font-size: 1.618rem;
    border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
}

.tab-content dt:first-child {
    margin-top: 0;
}

.tab-content dd {
    margin: 0 0 .75rem 0;
    padding: .75rem 1rem;
    border-bottom: 1px solid var(--color-bg-secondary);
    position: relative;
    z-index: 1;
}

.tab-content dd:before {
    content: '';
    border-left: 5px solid white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: var(--border-radius);
}

.tab-content dd.other:before {
    border-left-color: var(--color-other);
}
.tab-content dd.sensi:before {
    border-left-color: var(--color-sensi);
}
.tab-content dd.adapt:before {
    border-left-color: var(--color-adapt);
}
.tab-content dd.eco:before {
    border-left-color: var(--color-eco);
}
.tab-content dd.sect:before {
    border-left-color: var(--color-sect);
}
.tab-content dd.imagi:before {
    border-left-color: var(--color-imagi);
}
.tab-content dd.online:before {
    border-left-color: var(--color-online);
}

.tab-content dd:last-child {
    border: 0;
    margin-bottom: 0;
}

.tab-content .island {
    font-size: .7rem;
    color: var(--color-accent);
    display: block;
    margin-bottom: .75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tab-content .name {
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2;
    display: block;
    margin-bottom: .75rem;
}

.tab-content .speaker {
    display: none;
    font-size: 0.8rem;
}

.tab-content .table {
    display: block;
    font-style: italic;
    margin-bottom: 1rem;
}

.tabs input:checked + label + .tab-content {
    display: block;
}

.wrapper {
    overflow-x: auto;
    position: relative;
}

.timeline-container {
    width: fit-content;
}

.timeline {
    border-collapse: separate;
    border-spacing: 0 .25em;
    white-space: normal;
}

.timeline th {
    text-align: left;
    border-left: 1px solid white;
    width: 5rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.timeline thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
}
.timeline tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.timeline td {
    background: white;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.event {
    background-color: #ccc;
    padding: 1rem;
    border-radius: 2px;
}

.split-section .map-container {
    width: 100%;
    height: 300px;
}


footer {
    max-width: none;
    background: #009393 !important;
}

footer section aside, footer section aside:hover {
    border: 0;
    box-shadow: none;
    background: transparent;
}

footer a, footer a:visited {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 769px) {
    .split-section {
        display: flex;
        flex-wrap: nowrap;
    }

    .split-section figure {
        flex: 0 0 33.33%;
    }

    .split-section article {
        flex: 0 1 66.66%;
        text-align: left;
        margin-left: 2rem;
    }

    .split-section .map-container {
        flex: 0 0 50%;
        height: 300px;
    }
}

.onecolumn-section figure img {
    width: 100%;
}

@media (max-width: 768px) {
  /* prevent the nav menu to wrap below the logo */ 
    nav {
        flex-wrap: nowrap !important;
    }

    /* hide expandable menu */
    li:not(:focus-within) > ul{
        display:none !important;
    }
    nav ul li ul {
        position: absolute;
    }
    .onecolumn-section img {
        margin: auto;
        width: 70%;
    }
    h2 {
        text-align:center;
    }
    .presentation {
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) {
    /* position expandable menu (language selection) on right border to keep it inside the window */
    nav ul li ul {
        left: auto !important;
        right: 0 !important;
    }
    .onecolumn-section img {
        margin: auto;
        width: 40%;
    }
}

/* expand menu on focus (on only on hover for touch screens) */
li:focus > ul {
    display: block !important;
}

.calendario-negociado, 
.conscious-evolucion-collage, 
.creating-psychological-safety, 
.los-maravillosos-2030, 
.mural-agri-alim, 
.mural-construccion, 
.mural-digital, 
.mural-movilidad, 
.mural-suelo, 
.sustainable-pathways, 
.taller-adacc
{
  display: none !important;
}

.community-boost,
.make-it-awkward, 
.mural-biodiversidad,
.mural-clima, 
.mural-economia-circular,
.mural-finanzas,
.mural-limites-planetarios,
.mural-nuevos-relatos, 
.mural-oceano, 
.mural-textil, 
.taller-2toneladas, 
.taller-invbc,
.taller-suelos-vivos
{
}

.gallery img {
    width: 100%;
}

@media (min-width: 768px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        align-items: center;
    }
}
img {
/*    width: 100%;*/
display: block
}
.caption {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.img-container {
    margin-bottom: 20px;
}


#counter {
  font-size: 20px;
  text-align: center;
  padding: 30px 0;
  width: 100%;
  background: url("images/cards-bg.svg") right / cover repeat-y, #009393;
  color: white;
  animation: scroll-bg 500s linear infinite;
  margin-bottom: 40px;
}

#counter-time {
  font-size: 32px;
}

@keyframes scroll-bg {
    0% {background-position-y: 0;}
    100% {background-position-y: -10000px;}
}