@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --active-brightness: 0.85;
    --border-radius: 5px;
    --box-shadow: 2px 2px 10px;
    --color-accent: #0090ff;
    --color-bg: #fff;
    --color-bg-secondary: #e9e9e9;
    --color-bg-cards: #fff;
    --color-bg-img: #fff;
    --color-link: #118bee;
    --color-secondary: #f98757;
    --color-secondary-accent: #faa301;
    --color-shadow: #f4f4f4;
    --color-table: #118bee;
    --color-text: #000;
    --color-text-secondary: #999;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --hover-brightness: 1.2;
    --justify-important: center;
    --justify-normal: left;
    --line-height: 1.5;
    --width-card: 285px;
    --width-card-medium: 460px;
    --width-card-wide: 800px;
    --width-content: 1080px;

    --color-other: #727272;
    --color-sensi: #009393;
    --color-adapt: #faa301;
    --color-eco: #0090ff;
    --color-sect: #f98757;
    --color-imagi: #00d0ff;
    --color-online: #00be75;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-accent: #0090ff;
        --color-bg: #2a2c3a;
        --color-bg-secondary: #3a3a3a;
        --color-bg-cards: #32343f;
        --color-bg-img: #dcdcdc;
        --color-link: #118bee;
        --color-secondary: #f98757;
        --color-secondary-accent: #faa301;
        --color-shadow: #1e1e1e;
        --color-table: #118bee;
        --color-text: #d3d3d3;
        --color-text-secondary: #999;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-weight: 600;
    font-size: 3rem;
}

h2 {
    font-weight: 600;
    font-size: 2rem;
}

section aside {
    background: var(--color-bg-cards);
}

section aside:hover {
    box-shadow: var(--box-shadow) var(--color-shadow);
}

.link-icon {
    display: flex;
    align-items: center;
}

.link-icon img {
    margin-right: .5rem;
}

.banner {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.4)
    ), url('/images/mural-fest-2024-banner.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    color: #ececec;
}

.banner h1 {
    color: #ececec;
    font-weight: 900;
    font-size: 5rem;
    text-shadow: 0 1px 0 black;
}

.banner h2 {
    color: #ececec;
    font-weight: 600;
    text-shadow: 0 1px 0 black;
}

.banner header {
    position: relative;
    min-height: 86vh;
    z-index: 2;
    max-width: none;
    padding: 0 0 2rem 0;
}

.nav-container {
    background: var(--color-bg);
}

.banner nav {
    margin: 0 auto 6rem auto;
    max-width: var(--width-content);
}


.home-button img {
    margin: 0;
}

.map-container {
    height: 300px;
}

.activities aside {
    display: flex;
    flex-direction: column;
}

.activities figure {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    background: var(--color-bg-img);
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}

.tabs input {
    position: absolute;
    opacity: 0;
}

.tabs label {
    width: 33.33%;
    border-bottom: 5px solid var(--color-bg-secondary);
    padding-bottom: .5rem;
    text-align: center;
    cursor: pointer;
    position: sticky;
    top: 0;
}

.tabs .tab-content {
    display: none;
    width: 100%;
    order: 99;
}

.tab-content dt {
    font-family: "Urbanist", sans-serif;
    font-weight: 900;
    margin-top: 3rem;
    margin-bottom: 1rem;
    background: var(--color-bg-secondary);
    padding: .25rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

.tab-content dt:first-child {
    margin-top: 0;
}

.tab-content dd {
    margin: 0 0 .75rem 0;
    padding-bottom: .75rem;
    border-bottom: 1px solid var(--color-bg-secondary);
    padding-left: 1rem;
    position: relative;
    z-index: 1;
}

.tab-content dd:before {
    content: '';
    border-left: 5px solid white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: var(--border-radius);
}

.tab-content dd.other:before {
    border-left-color: var(--color-other);
}
.tab-content dd.sensi:before {
    border-left-color: var(--color-sensi);
}
.tab-content dd.adapt:before {
    border-left-color: var(--color-adapt);
}
.tab-content dd.eco:before {
    border-left-color: var(--color-eco);
}
.tab-content dd.sect:before {
    border-left-color: var(--color-sect);
}
.tab-content dd.imagi:before {
    border-left-color: var(--color-imagi);
}
.tab-content dd.online:before {
    border-left-color: var(--color-online);
}

.tab-content dd:last-child {
    border: 0;
    margin-bottom: 0;
}

.tab-content .island {
    font-size: .9rem;
    color: var(--color-accent);
    display: block;
    margin-bottom: .75rem;
}

.tab-content .name {
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2;
    display: block;
    margin-bottom: .75rem;
}

.tab-content .speaker {
    display: block;
    font-size: 0.8rem;
}

.tabs input:checked + label {
    font-weight: 600;
    border-color: var(--color-accent);
}

.tabs input:checked + label + .tab-content {
    display: block;
}

.wrapper {
    overflow-x: auto;
    position: relative;
}

.timeline-container {
    width: fit-content;
}

.timeline {
    border-collapse: separate;
    border-spacing: 0 .25em;
    white-space: normal;
}

.timeline th {
    text-align: left;
    border-left: 1px solid white;
    width: 5rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.timeline thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
}
.timeline tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.timeline td {
    background: white;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.event {
    background-color: #ccc;
    padding: 1rem;
    border-radius: 2px;
}

.split-section .map-container {
    width: 100%;
    height: 300px;
}

footer {
    max-width: none;
    background: #009393;
}

footer section aside, footer section aside:hover {
    border: 0;
    box-shadow: none;
}

footer a, footer a:visited {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 769px) {
    .split-section {
        display: flex;
        flex-wrap: nowrap;
    }

    .split-section figure {
        flex: 0 0 33.33%;
    }

    .split-section article {
        flex: 0 1 66.66%;
        text-align: left;
        margin-left: 2rem;
    }

    .split-section .map-container {
        flex: 0 0 50%;
        height: 300px;
    }
}